<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>Filthon-文件托管</title>
    <link rel="stylesheet" href="/static/base.css">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
        {% for message in messages %}
            <script type="text/javascript">
            alert("{{ message }}")
            </script>
        {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</head>
<div class="head" style="text-align: center">
    <a href="/"><h1>Filthon-文件托管</h1></a>
    <button onclick="{location.href='/upload'}">上传</button>
    <button onclick="{location.href='/user/login'}">登录</button>
    <button onclick="{location.href='/user/register'}">注册</button>
    <button onclick="{location.href='/user/mine'}">我的文件</button>
</div>
<br>
<hr>
<br>
{% block content %}
{% endblock %}
<body>
