{% extends 'base.html' %}
{% block content %}
    {% if files %}
        {% for file in files %}
        <div style="text-align: center">
            <h3 ><a href="/file/{{ file.id }}">{{ file.filename }}</a></h3>
        <strong>{{ file.user_id }}  上传于 {{ file.upload_time }}</strong>
            <button onclick="{location.href='/file/delete/{{ file.id }}'}">删除</button>
            {% if file.open %}<button onclick="{location.href='/file/close/{{ file.id }}'}">取消公开</button>
            {% else %}<button onclick="{location.href='/file/open/{{ file.id }}'}">公开</button>{% endif %}
        <br><br><br>
        </div>
        {% endfor %}
    {% endif %}

{% endblock %}